<!-- Categories Widget -->
<div class="card m-0 p-0 ">
    <h5 class="card-header m-0 py-2 px-3 text-left">{{ data.settings.widget.category.title }}</h5>
    <div class="card-body m-0 p-2">
        <div class="row">
            <div class="d-none d-md-block d-lg-none py-0 px-4">
                <ul class="list-unstyled mb-0">
                    {% for category in data.categories %}
                        <li>
                            <a href="/categories/{{ category.label }}">{{ category.text }}</a><span> ({{ category.count }})</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- even entries -->
            <div class="d-none d-lg-block col-lg-6 m-0 py-0 pl-4 pr-1">
                <ul class="list-unstyled m-0 p-0">
                    {% set count = namespace(value=0) %}

                    {% for category in data.categories %}
                        {% if count.value % 2 == 0 %}
                            <li>
                                <a href="/categories/{{ category.label }}">{{ category.text }}</a><span> ({{ category.count }})</span>
                            </li>
                        {% endif %}

                        {% set count.value = count.value + 1 %}
                    {% endfor %}
                </ul>
            </div>

            <!-- odd entries -->
            <div class="d-none d-lg-block col-lg-6 m-0 py-0 pl-1 pr-4">
                <ul class="list-unstyled m-0 p-0">
                    {% set count = namespace(value=0) %}

                    {% for category in data.categories %}
                        {% if count.value % 2 == 1 %}
                            <li>
                                <a href="/categories/{{ category.label }}">{{ category.text }}</a><span> ({{ category.count }})</span>
                            </li>
                        {% endif %}

                        {% set count.value = count.value + 1 %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
