<!-- Tags Widget -->
{% if data.tags_list_count > 0 %}
    <div class="card m-0 mb-3 mr-1 p-0">
        <h5 class="card-header text-left">{{ data.i8n.tags.widget_title }}</h5>
        <div class="card-body">
            <div class="row">
                <div class="d-none d-md-block d-lg-none">
                    <ul class="list-unstyled mb-0">
                        {% for tag in data.tags_list %}
                            <li>
                                <a href="/tags/{{ tag.label }}">{{ tag.text }}</a><span class="text-muted small"> ({{ tag.count }})</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- even entries -->
                <div class="d-none d-lg-block col-lg-6">
                    <ul class="list-unstyled mb-0">
                        {% set count = namespace(value=0) %}

                        {% for tag in data.tags_list %}
                            {% if count.value % 2 == 0 %}
                                <li>
                                    <a href="/tags/{{ tag.label }}">{{ tag.text }}</a><span class="text-muted small"> ({{ tag.count }})</span>
                                </li>
                            {% endif %}

                            {% set count.value = count.value + 1 %}
                        {% endfor %}
                    </ul>
                </div>

                <!-- odd entries -->
                <div class="d-none d-lg-block col-lg-6">
                    <ul class="list-unstyled mb-0">
                        {% set count = namespace(value=0) %}

                        {% for tag in data.tags_list %}
                            {% if count.value % 2 == 1 %}
                                <li>
                                    <a href="/tags/{{ tag.label }}">{{ tag.text }}</a><span class="text-muted small"> ({{ tag.count }})</span>
                                </li>
                            {% endif %}

                            {% set count.value = count.value + 1 %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}