<!--
    Full history: see below

    Version: 1.0.0
    Date: 2020-04-30
    Author: Yves Vindevogel (vindevoy)

    Usage: Displays the footer (dark space at the bottom of the screen

    Parameters: none
-->

<footer class="bg-dark">
    <div class="container">
        <!-- Normal size -->
        <div class="row">
            <div class="d-none d-md-block col-md-6 m-0 mt-3 p-0 pr-3 pb-3 text-right">
                <ul class="list-unstyled m-0 p-0">
                    {% for menu in data.footer_menu %}
                        <li>
                            {% if menu.ref.startswith('http') %}
                                <a class="text-white" href="{{ menu.ref }}" target="_blank">{{ menu.label }}</a>
                            {% else %}
                                <a class="text-white" href="{{ menu.ref }}">{{ menu.label }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="d-none d-md-block col-md-6 m-0 mt-3 p-0 pl-3 text-left">
                <p class="text-white">{{ data.i8n.blog.copyright }}</p>
            </div>
        </div>

        <!-- Small size -->
        <div class="row">
            <div class="col-xs-12 d-md-none m-0 mt-3 p-0 w-100 text-center">
                <ul class="list-unstyled m-0 p-0">
                    {% for menu in data.footer_menu %}
                        <li>
                            {% if menu.ref.startswith('http') %}
                                <a class="text-white" href="{{ menu.ref }}" target="_blank">{{ menu.label }}</a>
                            {% else %}
                                <a class="text-white" href="{{ menu.ref }}">{{ menu.label }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 d-md-none m-0 mt-3 p-0 pl-3 w-100 text-center">
                <p class="text-white">{{ data.i8n.blog.copyright }}</p>
            </div>
        </div>
    </div>
</footer>
