<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <h1 class="navbar-brand p-0 px-2">{{ data.i8n.blog.title }}</h1>
        <img src="/images/cherryblog.png" style="height: 32px ">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if data.url == '/index/1' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/">{{ data.i8n.navigation.home_label }}
                                <span class="sr-only">(current)</span>
                        </a>
                    </li>
                {% endif %}
                {% if data.url != '/index/1' %}
                    <li class="nav-item">
                        <a class="nav-link" href="/">{{ data.i8n.navigation.home_label }}
                                <span class="sr-only">(current)</span>
                        </a>
                    </li>
                {% endif %}

                {% for menu in data.main_menu %}
                    {% if data.url == menu.ref %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ menu.ref }}">{{ menu.label }}</a>
                        </li>
                    {% endif %}
                    {% if data.url != menu.ref %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ menu.ref }}">{{ menu.label }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
