<!--
    Full history: see below

    Version: 1.0.0
    Date: 2020-04-30
    Author: Yves Vindevogel (vindevoy)

    Usage: A title on a page

    Parameters:
        - primary_text
        - secondary_text (optional)
        - tertiary_text (optional)
-->

<div class="row m-0 mb-1 p-0 px-2">
    <h1>
        {{ primary_text }}

        {% if secondary_text != '' %}
            <small>{{ secondary_text }}</small>
        {% endif %}

        {% if tertiary_text != '' %}
            <small style="font-size: small">{{ tertiary_text }}</small>
        {% endif %}
    </h1>
</div>