<!-- Title -->
{% if data.pagination.current_page == 1 %}
    {% with primary_text = data.i8n.index.primary_title_posts,
            secondary_text = data.i8n.index.secondary_title_posts %}

        {% if data.pagination.spotlight_posts > 0 %}
            {% include 'elements/_html/title.html' %}
        {% endif %}
    {% endwith %}
{% endif %}

{% if data.pagination.current_page > 1 %}
    {% with primary_text = data.i8n.index.primary_title_archive,
            secondary_text = data.i8n.navigation.page_of_page + ' ' + data.pagination.current_page|string + ' '  +
                             data.i8n.navigation.page_of_of + ' ' + data.pagination.total_pages|string %}

        {% include 'elements/_html/title.html' %}
    {% endwith %}

    {% with source = '/images/' + data.posts[0].image %}
        {% include 'elements/_html/page_image.html' %}
    {% endwith %}
{% endif %}
