<!-- Title -->
{% if data.pagination.current_page == 1 %}
    {% with primary_text = data.settings.index.primary_title,
            secondary_text = data.settings.index.secondary_title %}

        {% include 'elements/_html/title.html' %}
    {% endwith %}
{% endif %}

{% if data.pagination.current_page > 1 %}
    {% with primary_text = data.settings.index.primary_title_archive,
            secondary_text = data.settings.navigation.page_of_page + ' ' + data.pagination.current_page|string + ' '  +
                             data.settings.navigation.page_of_of + ' ' + data.pagination.total_pages|string %}

        {% include 'elements/_html/title.html' %}
    {% endwith %}
{% endif %}
