---

content:
  meta_content_separator: "----------"
  include_drafts: False

directories:
  theme:
      absolute: False
      path: 'src/theme/default'
  log:
      absolute: False
      path: 'log'
  run:
      absolute: False
      path: 'log'

engine:
  autoreload: True
  daemon: False

server:
  socket_host: '1.2.3.4'
  socket_port: 80
  thread_pool: 8

caching:
  use: True

tools:
  staticdirs:
    - url: '/images'
      absolute: False
      path: 'src/data/images'
    - url: '/static'
      absolute: False
      path: 'src/theme/default/static'
  staticfiles:
    - url: '/sitemap.xml'
      absolute: False
      path: 'src/data/sitemap/sitemap.xml'

user:
  privileges: True
  uid: 3112
  gid: 3112

ssl:
  ssl_certificate: 'cert.pem'
  ssl_private_key: 'private.pem'
  ssl_certificate_chain: