<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    {% if data.pagination.current_page == 1 %}
        <li class="page-item disabled">
            <a class="page-link">&larr; Newer</a>
        </li>
    {% endif %}
    {% if data.pagination.current_page == 2 %}
        <li class="page-item">
            <a class="page-link" href="/categories/{{ data.category.path}}">&larr; Newer</a>
        </li>
    {% endif %}
    {% if data.pagination.current_page > 2 %}
        <li class="page-item">
            <a class="page-link" href="/categories/{{ data.category.path}}/{{ data.pagination.current_page - 1 }}">&larr; Newer</a>
        </li>
    {% endif %}

    {% if data.pagination.current_page == data.pagination.total_pages %}
        <li class="page-item disabled">
            <a class="page-link">Older &rarr;</a>
        </li>
    {% endif %}
    {% if data.pagination.current_page != data.pagination.total_pages %}
        <li class="page-item">
            <a class="page-link" href="/categories/{{ data.category.path}}/{{ data.pagination.current_page + 1 }}">Older &rarr;</a>
        </li>
    {% endif %}
</ul>
