<!--
    Full history: see below

    Version: 1.0.0
    Date: 2020-04-30
    Author: Yves Vindevogel (vindevoy)

    Usage: placeholder for screen content
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'elements/_html/head.html' %}
    </head>

    <body>
        {% include 'elements/_html/navigation.html' %}

        <!-- Page -->
        <div class="container">
            <div class="row p-0 m-0">
                <!-- Content Column -->
                <div class="col-xs-12 col-md-8 m-0 p-0">
                    {% block content %}{% endblock %}
                </div>

                <!-- Sidebar Widgets Column -->
                <div class="d-none d-md-block col-md-4 m-0 pl-3 mt-3 p-0">
                    {% include 'elements/_jinja/sidebar.html' %}
                </div>
            </div>
        </div>

        {% include 'elements/_html/footer.html' %}
        {% include 'elements/_html/bootstrap.html' %}
    </body>
</html>
