<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'elements/head.html' %}
  </head>

  <body>
    {% include 'elements/navigation.html' %}

    <!-- Page -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                {% include 'elements/page_title.html' %}

                {% include 'elements/post.html' %}
                {% include 'elements/post.html' %}
                {% include 'elements/post.html' %}

                {% include 'elements/pagination.html' %}
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                {% include 'elements/search.html' %}
                {% include 'elements/categories.html' %}
                {% include 'elements/widget.html' %}
            </div>
        </div>
    </div>

    {% include 'elements/footer.html' %}
    {% include 'elements/bootstrap_js.html' %}
  </body>
</html>
