<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'elements/common/head.html' %}
    </head>

    <body>
        {% include 'elements/common/navigation.html' %}

        <!-- Page -->
        <div class="container">
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col-md-8">
                    {% include 'elements/home/title.html' %}

                    {% include 'elements/home/post.html' %}
                    {% include 'elements/home/post.html' %}
                    {% include 'elements/home/post.html' %}

                    {% include 'elements/home/pagination.html' %}
                </div>

                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">
                    {% include 'elements/widget/search.html' %}
                    {% include 'elements/widget/categories.html' %}
                    {% include 'elements/widget/misc.html' %}
                </div>
            </div>
        </div>

        {% include 'elements/common/footer.html' %}
        {% include 'elements/common/bootstrap.html' %}
    </body>
</html>
