<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'elements/common/head.html' %}
    </head>

    <body>
        {% include 'elements/common/navigation.html' %}

        <!-- Page -->
        <div class="container">
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col-12 col-md-8">
                    {% include 'elements/index/title.html' %}

                    {% for post in data.spotlight_posts %}
                        {% with post = post %}
                            {% include 'elements/index/post.html' %}
                        {% endwith %}
                    {% endfor %}

                    {% for post in data.highlight_posts %}
                        {% with post = post %}
                            {% include 'elements/index/post.html' %}
                        {% endwith %}
                    {% endfor %}

                    {% for post in data.posts %}
                        {% with post = post %}
                            {% include 'elements/index/post.html' %}
                        {% endwith %}
                    {% endfor %}

                    {% include 'elements/index/pagination.html' %}
                </div>

                <!-- Sidebar Widgets Column -->
                <div class="d-none d-md-block col-md-4">
                    {% include 'elements/widget/categories.html' %}
                </div>
            </div>
        </div>

        {% include 'elements/common/footer.html' %}
        {% include 'elements/common/bootstrap.html' %}
    </body>
</html>
