<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'elements/common/print_head.html' %}
    </head>

    <body>
        <!-- Page -->
        <div class="container">
            <<div class="row p-0 m-0">
                <!-- Page Content Column -->
                <div class="col-12">
                    {% include 'elements/page/title.html' %}
                    {% include 'elements/page/content.html' %}
                </div>
            </div>
        </div>

        {% include 'elements/common/bootstrap.html' %}
    </body>
</html>
