<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'elements/common/print_head.html' %}
    </head>

    <body>
        <!-- Page -->
        <div class="container">
            <div class="row">
                <!-- Post Content Column -->
                <div class="col-12 m-0">
                    {% include 'elements/print_post/title.html' %}
                    {% include 'elements/post/content.html' %}
                </div>

            </div>
        </div>

        {% include 'elements/common/bootstrap.html' %}
    </body>
</html>
