{% extends "_screen.html" %}
{% block content %}
    {% if data.pagination.current_page == 1 %}
        {% with primary_text = data.settings.index.primary_title,
                secondary_text = data.settings.index.secondary_title %}

            {% include 'elements/index/introduction_title.html' %}
        {% endwith %}

        <div class="m-0 mb-3 p-0 px-2">
            <div class="card">
                <img class="card-img-top" src="/images/{{ data.index.image }}">

                <div class="card-body pb-0">
                    {{ data.index.introduction }}
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'elements/index/posts_title.html' %}

    {% if data.pagination.current_page == 1 %}
        {% for post in data.spotlight_posts %}
            <div class="row mb-3 m-0 p-0">
                {% with post = post %}
                    {% include 'elements/index/spotlight_post.html' %}
                {% endwith %}
            </div>
        {% endfor %}

        <div class="row m-0 p-0">
            {% for post in data.highlight_posts %}
                {% with post = post %}
                    {% include 'elements/index/highlight_post.html' %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% for post in data.posts %}
        {% with post = post %}
            <div class="row mb-3 m-0 p-0">
                {% include 'elements/index/standard_post.html' %}
            </div>
        {% endwith %}
    {% endfor %}

    {% include 'elements/index/pagination.html' %}
 {% endblock %}